* {
  margin: 0;
  font-family: "Oswald", cursive;
}

body {
  display: grid;
  height: 100vh;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(45deg, #000, #222);
}

.wrapper {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.formArea {
  position: relative;
  width: 70%;
  height: 75vh;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: center;
  padding-top: 40px;
  background-image: linear-gradient(225deg, #555, #888);
  border: 2px solid #aaa;
  border-radius: 20px;
  overflow: hidden;
}

.tasks {
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-size: 2rem;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.tasks::-webkit-scrollbar {
  display: none;
}

.tasks li {
  list-style: none;
}

.check {
  margin-right: 30px;
  transform: scale(1.5) translateY(-2px);
}

.check:checked + span {
  text-decoration: line-through;
  text-decoration-color: #004daa;
}

li button {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  border-radius: 50%;
  background-color: #666;
  transform: translateY(-3px);
  transition: 0.5s;
}

li button:hover {
  cursor: pointer;
  background-color: #333;
  color: red;
  box-shadow: 0px 0px 12px #f00;
}

.delete {
  text-align: center;
  line-height: calc(30px / 2);
}

.taskForm {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr, 1fr;
  align-items: center;
  justify-items: center;
}

.taskInput {
  width: 85%;
  height: 30%;
  grid-area: 1/1;
  padding-left: 15px;
  color: #ddd;
  background-color: #444;
  box-shadow: 5px 5px 5px black;
  font-size: 2rem;
  transition: 0.5s;
}

.taskInput:hover {
  background-color: #555;
}

.submitButton {
  width: 65%;
  height: 30%;
  grid-area: 1/2;
  background-color: #aaa;
  box-shadow: 5px 5px 5px #000;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: 0.5s;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #888;
  box-shadow: 2px 2px 2px #222;
}

.options {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100px;
  bottom: -11%;
  right: 0%;
  background-color: #222;
  transition: 0.5s;
  z-index: 2;
}

.optionsBtn {
  width: 80px;
  height: 50px;
  background-color: #333;
  box-shadow: 2px 2px 2px #333;
  text-transform: uppercase;
  font-size: 0.7rem;
  z-index: 3;
  transition: 0.5s;
  color: #ddd;
}

.optionsBtn:hover {
  cursor: pointer;
  background-color: #555;
  box-shadow: 2px 2px 5px #555;
}

.options::after {
  position: absolute;
  content: "OPTIONS";
  width: 100px;
  height: 100px;
  top: -40%;
  right: 5%;
  padding: 15px;
  text-align: center;
  color: #888;
  background-color: #222;
  transition: 0.5s;
}

.options:hover {
  cursor: pointer;
  bottom: 0%;
}

.options:hover::after {
  color: #ccc;
}

@media only screen and (max-width: 1050px) {
  .formArea {
    width: 90%;
    height: 90vh;
  }

  .taskInput {
    width: 100%;
    height: 50%;
    grid-area: 1/1;
    font-size: 1.2rem;
  }

  .submitButton {
    width: 50%;
    height: 50%;
    grid-area: 2/1;
  }

  .taskForm {
    min-height: 180px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .tasks {
    height: 70%;
    font-size: 1.3rem;
    padding-top: 15px;
  }

  .tasksList {
    padding: 0;
  }

  .tasks li {
    padding-top: 12px;
    margin-left: 20px;
  }

  .check {
    margin-right: 20px;
    padding-top: 12px;
  }

  .optionsBtn {
    width: 85px;
    font-size: 0.6rem;
  }

  .options::after {
    font-size: 0.8rem;
  }
}
